<%- include('partials/head') %>
  <body>

	<!-- Main navigation, table of contents -->
	<%- include('partials/navigation') %>

	<main>
		<!-- Cover -->
		<%- include('sections/cover') %>

		<!-- Foreword -->
		<%- include('sections/foreword') %>

		<!-- Shipments -->
		<%- include('sections/shipments') %>

		<!-- UNHRD in Numbers -->
		<%- include('sections/numbers') %>

		<!-- Major Operations -->
		<%- include('sections/covid19pandemic') %>

		<%- include('sections/yemen') %>
		

		<!-- Hub Highlights -->

		<%- include('sections/hubhighlights/intro') %>

		<%- include('sections/hubhighlights/dubaiyemen') %>

		<%- include('sections/hubhighlights/brindisisomalia') %>

		<%- include('sections/hubhighlights/panamahurricanes') %>
		
		<%- include('sections/hubhighlights/accrasolar') %>

		<%- include('sections/hubhighlights/kualalumpur') %>
		
	
		<!-- Partnerships -->

		<%- include('sections/partnerships/intro') %>

		<%- include('sections/partnerships/italy') %>

		<%- include('sections/partnerships/malaysia') %>

		<%- include('sections/partnerships/panama') %>

		<%- include('sections/partnerships/spain') %>

		<%- include('sections/partnerships/uae') %>

		<%- include('sections/partnerships/ireland') %>

		<%- include('sections/partnerships/switzerland') %>

		<%- include('sections/partnerships/ahacentre') %>

		<%- include('sections/partnerships/savethechildren') %>

		<%- include('sections/partnerships/solidariteinternational') %>

		<%- include('sections/partnerships/worldvision') %>


		<!-- Innovation -->

		<%- include('sections/innovation/intro') %>

		<%- include('sections/innovation/coldchain') %>


		<!-- Behind the Scenes -->

		<%- include('sections/behindscenes/intro') %>

		<%- include('sections/behindscenes/nesrin') %>

		<%- include('sections/behindscenes/waiyee') %>

		<%- include('sections/behindscenes/fiifi') %>

		<%- include('sections/behindscenes/federico') %>

		<%- include('sections/behindscenes/vivek') %>

		<%- include('sections/behindscenes/desiree') %>

		<%- include('partials/backcover') %>

		<%- include('sections/flags') %>
	</main>

<%- include('partials/footer') %>
